//
// Color system
//

// Gray colors
$white: #29293a;
$gray-100: #1d1d23;
$gray-200: #ebebeb;
$gray-300: #e1e1e1;
$gray-400: #828590;
$gray-500: #aeb1be;
$gray-600: #6a6a75;
$gray-700: #f3f3f9;
$gray-800: #ffffff;
$gray-900: #111111;
$black: #ffffff;

//
// Accent Colors
//

$primary: #f99200;
$secondary: #3e3ef5;

$secondary-2: #3e3ef5;

// Shadow
$shadow-1: 0 0 22px -4px rgba(0, 0, 0, 0.17);

// SVG gradient
$svg-gradient-1: '#linear-gradient-primary';