//
// Color system
//

// Gray colors
$white: #ffffff;
$gray-100: #f3f3f9;
$gray-200: #ebebeb;
$gray-300: #e1e1e1;
$gray-400: #aeb1be;
$gray-500: #828590;
$gray-600: #6a6a75;
$gray-700: #29293a;
$gray-800: #1d1d23;
$gray-900: #111111;
$black: #000000;

//
// Accent Colors
//

$primary: #3e3ef5;
$secondary: #f99200;

$secondary-2: #ffb041;

// Shadow
$shadow-1: 0 0 24px 0 rgba(0,0,0, .23);

// SVG gradient
$svg-gradient-1: '#linear-gradient-secondary';