/*
*
* Text styling
*/

// Text styles
.text-italic {
	font-style: italic;
}

.text-normal {
	font-style: normal;
}

// Text decoration
.text-underline {
	text-decoration: underline;
}

.text-strike {
	text-decoration: line-through;
}

// Text weight
.font-weight-thin {
	font-weight: 100;
}

.font-weight-light {
	font-weight: 300;
}

.font-weight-regular {
	font-weight: 400;
}

.font-weight-medium {
	font-weight: 500;
}

.font-weight-sbold {
	font-weight: 600;
}

.font-weight-ubold {
	font-weight: 900;
}

// Text spacing
.text-spacing-0 {
	letter-spacing: 0;
}

.text-primary {
	color: $primary !important;
}

.text-white {
	color: $white !important;
}

.text-gray-100 { color: $gray-100; }
.text-gray-700-invariable { color: $gray-700-invariable; }


// Text width
.text-width-small { max-width: 450px; }
.text-width-large { max-width: 700px; }
.text-width-extra-large { max-width: 750px; }

// Extra large ≥1200px
@include media-breakpoint-up(xl) {
	.text-width-xl-90 { max-width: 90% } 
} 