
#compiled_table {
  border-width: 0;
  color: white;
  border-collapse: separate;
  border-spacing: 0;

  tr th {
    border-width: 0;
    padding: 4px;
  }

  tr td {
    border-width: 1px;
    padding: 4px 8px;
  }

  tr td:first-child, tr td:last-child {
    border: 0px;
  }

  /*tr td:first-child, tr td:last-child {
  font-size: 13px;
  }*/

  tr td:last-child {
    text-align: left;
  }

  .top-border {
    position: relative;
    top: -16px;
  }

  .bottom-border {
    position: relative;
    top: 16px;
  }
}

select.form-input {
  border-radius: 6px 6px 0 0 !important;
}

.select-wrapper {
  position: relative;
  /*display: inline-block;*/
}

.select-wrapper::before {
  position: absolute;
  border-style: solid;
  border-width: 0.25em 0.25em 0 0;
  content: '';
  display: inline-block;
  height: 0.7em;
  right: 1em;
  top: 0.60em;
  vertical-align: top;
  width: 0.7em;
  transform: rotate(135deg);
  color: black;
}

.table-custom-primary thead th {
  background-color: #2f2fbc !important;
}

// RD Dropdown 1-st level
.rd-navbar-submenu .oriented-down {
  left: auto !important;
  margin-left: -15px !important;
  text-align: left;
  position: absolute;
  top: 100% !important;
  padding: 30px 15px;
  z-index: 15;

  // Mega large ≥1600px
  @include media-breakpoint-up(xxl) {
    padding: 44px 30px 40px;
  }

  // Mega large ≥1600px
  @include media-breakpoint-up(xxl) {
    margin-left: -30px;
  }

  .rd-dropdown-item {
    display: block !important;
  }
}

.rd-navbar-submenu .oriented-down::before {
  content: none;
  display: none;
}

@include media-breakpoint-down(md) {
  #update_button {
    width: 100%;
  }
}

.rd-navbar-main .rd-navbar-nav-wrap .rd-navbar-list-link li{
  @include media-breakpoint-up(lg) {
    display: inline-block ;
  }
  display: block ;
}